<robot name = "robot">
    <joint name="Torso_Aardvark" type="revolute">
       <parent link="Torso"/>
       <child  link="Aardvark"/>
       <origin rpy="0 0 0" xyz="3.147915786386704 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Aardvark_Abacus" type="revolute">
       <parent link="Aardvark"/>
       <child  link="Abacus"/>
       <origin rpy="0 0 0" xyz="3.96938755340077 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Abacus_Abbey" type="revolute">
       <parent link="Abacus"/>
       <child  link="Abbey"/>
       <origin rpy="0 0 0" xyz="0.1074325532907554 0 0.055077691545760143" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Abbey_Abdomen" type="revolute">
       <parent link="Abbey"/>
       <child  link="Abdomen"/>
       <origin rpy="0 0 0" xyz="0.06382016025277049 0 0.6798590764339887" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Torso">
        <inertial>
            <origin xyz="2.326494336482784 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="2.326494336482784 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.6428428998078402 0.5800613178546254 0.9251142982879201" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="2.326494336482784 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.6428428998078402 0.5800613178546254 0.9251142982879201" />
            </geometry>
        </collision>
    </link>
    <link name="Aardvark">
        <inertial>
            <origin xyz="1.984693776700385 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.984693776700385 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.96938755340077 3.2425597422002794 3.3508371320994774" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.984693776700385 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.96938755340077 3.2425597422002794 3.3508371320994774" />
            </geometry>
        </collision>
    </link>
    <link name="Abacus">
        <inertial>
            <origin xyz="0 0 0.055077691545760143" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.055077691545760143" rpy="0 0 0"/>
            <geometry>
                <box size="0.2148651065815108 1.212823425741917 0.11015538309152029" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.055077691545760143" rpy="0 0 0"/>
            <geometry>
                <box size="0.2148651065815108 1.212823425741917 0.11015538309152029" />
            </geometry>
        </collision>
    </link>
    <link name="Abbey">
        <inertial>
            <origin xyz="0.06382016025277049 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.06382016025277049 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.12764032050554097 1.5703036325099828 1.3597181528679774" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.06382016025277049 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.12764032050554097 1.5703036325099828 1.3597181528679774" />
            </geometry>
        </collision>
    </link>
    <link name="Abdomen">
        <inertial>
            <origin xyz="0 0 0.5842871701642308" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5842871701642308" rpy="0 0 0"/>
            <geometry>
                <box size="0.7765904757086541 0.810505829783126 1.1685743403284616" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5842871701642308" rpy="0 0 0"/>
            <geometry>
                <box size="0.7765904757086541 0.810505829783126 1.1685743403284616" />
            </geometry>
        </collision>
    </link>
</robot>