<robot name = "robot">
    <joint name="Torso_Aardvark" type="revolute">
       <parent link="Torso"/>
       <child  link="Aardvark"/>
       <origin rpy="0 0 0" xyz="-3.019760338572925 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Aardvark_Abacus" type="revolute">
       <parent link="Aardvark"/>
       <child  link="Abacus"/>
       <origin rpy="0 0 0" xyz="0.8443523151444023 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Abacus_Abbey" type="revolute">
       <parent link="Abacus"/>
       <child  link="Abbey"/>
       <origin rpy="0 0 0" xyz="0.826959779379683 0.6475488738507384 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Abbey_Abdomen" type="revolute">
       <parent link="Abbey"/>
       <child  link="Abdomen"/>
       <origin rpy="0 0 0" xyz="0.9996550128030136 0 0.5138566240186082" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Torso">
        <inertial>
            <origin xyz="-3.959989859651189 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-3.959989859651189 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.8804590421565284 1.2351956191471642 1.9002523611068225" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-3.959989859651189 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.8804590421565284 1.2351956191471642 1.9002523611068225" />
            </geometry>
        </collision>
    </link>
    <link name="Aardvark">
        <inertial>
            <origin xyz="0.42217615757220117 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.42217615757220117 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8443523151444023 2.3690339071314224 3.615170599662533" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.42217615757220117 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8443523151444023 2.3690339071314224 3.615170599662533" />
            </geometry>
        </collision>
    </link>
    <link name="Abacus">
        <inertial>
            <origin xyz="0 0.6475488738507384 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6475488738507384 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.653919558759366 1.295097747701477 0.78461660577212" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6475488738507384 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.653919558759366 1.295097747701477 0.78461660577212" />
            </geometry>
        </collision>
    </link>
    <link name="Abbey">
        <inertial>
            <origin xyz="0.9996550128030136 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9996550128030136 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9993100256060272 1.6687598371184182 1.0277132480372164" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9996550128030136 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9993100256060272 1.6687598371184182 1.0277132480372164" />
            </geometry>
        </collision>
    </link>
    <link name="Abdomen">
        <inertial>
            <origin xyz="0 0 0.03435952901917594" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.03435952901917594" rpy="0 0 0"/>
            <geometry>
                <box size="1.14607481018203 0.736380899740408 0.06871905803835188" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.03435952901917594" rpy="0 0 0"/>
            <geometry>
                <box size="1.14607481018203 0.736380899740408 0.06871905803835188" />
            </geometry>
        </collision>
    </link>
</robot>