<robot name = "robot">
    <joint name="Torso_Aardvark" type="revolute">
       <parent link="Torso"/>
       <child  link="Aardvark"/>
       <origin rpy="0 0 0" xyz="-2.2381693067671784 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Aardvark_Abacus" type="revolute">
       <parent link="Aardvark"/>
       <child  link="Abacus"/>
       <origin rpy="0 0 0" xyz="3.342621851514235 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Abacus_Abbey" type="revolute">
       <parent link="Abacus"/>
       <child  link="Abbey"/>
       <origin rpy="0 0 0" xyz="0 0 1.2872973886024495" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Abbey_Abdomen" type="revolute">
       <parent link="Abbey"/>
       <child  link="Abdomen"/>
       <origin rpy="0 0 0" xyz="0 0 1.663721641610068" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Torso">
        <inertial>
            <origin xyz="-3.175259204365739 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-3.175259204365739 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.8741797951971215 0.3562948553112357 1.3535753852758965" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-3.175259204365739 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.8741797951971215 0.3562948553112357 1.3535753852758965" />
            </geometry>
        </collision>
    </link>
    <link name="Aardvark">
        <inertial>
            <origin xyz="1.6713109257571175 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.6713109257571175 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.342621851514235 3.1796577388983502 0.6269168108235794" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.6713109257571175 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.342621851514235 3.1796577388983502 0.6269168108235794" />
            </geometry>
        </collision>
    </link>
    <link name="Abacus">
        <inertial>
            <origin xyz="0 0 0.6436486943012247" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6436486943012247" rpy="0 0 0"/>
            <geometry>
                <box size="1.0648320879908348 0.6570494798610267 1.2872973886024495" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6436486943012247" rpy="0 0 0"/>
            <geometry>
                <box size="1.0648320879908348 0.6570494798610267 1.2872973886024495" />
            </geometry>
        </collision>
    </link>
    <link name="Abbey">
        <inertial>
            <origin xyz="0 0 0.831860820805034" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.831860820805034" rpy="0 0 0"/>
            <geometry>
                <box size="0.5564963885440357 0.08745469696421337 1.663721641610068" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.831860820805034" rpy="0 0 0"/>
            <geometry>
                <box size="0.5564963885440357 0.08745469696421337 1.663721641610068" />
            </geometry>
        </collision>
    </link>
    <link name="Abdomen">
        <inertial>
            <origin xyz="0 0 0.8540502716151761" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8540502716151761" rpy="0 0 0"/>
            <geometry>
                <box size="0.5840841334086468 1.4871495571870832 1.7081005432303522" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8540502716151761" rpy="0 0 0"/>
            <geometry>
                <box size="0.5840841334086468 1.4871495571870832 1.7081005432303522" />
            </geometry>
        </collision>
    </link>
</robot>